@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'GmarketSansLight', sans-serif;
}
a{
    all: unset;
    color: white;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: none; /*TODO: 수정*/
}
.contents{
    color: white;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}
.contents h1{
    font-size: 34px;
    margin: 0 0 8px 0;
}
.contents h2{
    font-size: 24px;
}
.section-01{
    width: 100%;
    max-width: 768px;
    padding: 100px;
    box-sizing: border-box;
    font-weight: normal;
}
.section-01 h1{
    font-size: 62px;
}
.section-01 h2{
    font-size: 36px;
    font-weight: normal;
}
.section-01 p{
    margin-top: 60px;
    font-size: 24px;
    line-height: 1.6;
}
.section-01 a{
    color: black;
}
em {
    background-image: linear-gradient(transparent 70%, rgba(24,76,136,0.8) 70%);
    background-repeat: no-repeat;
    background-size: 0 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
    cursor: pointer;
    font-weight: 900;
    font-style: normal;
    font-size: larger;
    transition: 0.5s;
}
@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}
.yupstyle{
    background: url("../images/yupstyle.png") no-repeat;
    background-size: cover;
}
.yupstyle .contents{
    text-align: right;
    right: 40px;
    float: right;
}
.heartravel{
    background: url("../images/heartravel.png") no-repeat;
    background-size: cover;
}
.heartravel .contents{
    right: -40px;
    text-align: left;
}
.pay{
    background: url("../images/pay.png") no-repeat;
    background-size: cover;
}
.pay .contents{
    text-align: right;
    right: 40px;
    float: right;
}
.filter-black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.contact{
    width: 100%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.contact h1{
    font-size: 48px;
    margin-top: 0;
}
.contact em{
    font-size: 24px;
    margin-right: 0;
}
.contact a{
    color: black;
}